<% include includes/header %>

<section class="main">
    <div class="container">
        <div class="homepage">
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                    <h1 class="app-name text-center">REX Todo</h1>
                    <div id="root"></div>
                </div>
            </div>
        </div>
    </div>
</section>

<% include includes/footer %>