<% include includes/header %>

<section class="task">
    <div class="container">
        <div class="homepage">
            <div class="row">
                <div class="col-sm-4 col-sm-offset-4">
                    <div class="row">
                        <div id="root"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<% include includes/footer %>