
section.main {
    display: flex;
    /* align-items:center; */

    background-image: url('/images/homepage.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 1000px;
    
    padding: 4rem 0;
    color: black;
}

section.main button {
    margin: 0 5px;
}


section.task {
    display: flex;
    align-items:center;

    background-image: url('/images/homepage.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    padding: 4rem 0;
}

.homepage .app-name {
    color: white;
    font-size: 6rem;
}

.homepage .btn-company {
    display: block;
    width: 60%;
    height: 60px;
    font-size: 2rem;
    padding: 1.5rem;
    margin: 2rem auto;
}

.btn-margin {
    margin: 0 5px 0 0;
}

.width100 {
    width: 100% !important;
}

.smargin {
    margin:5px;
}

.btn-add-car {
  width: 100px;
}